body {
    margin: 0;
    background-color: #0C0B1F;
  }
  header {
    background-color: #373738;
    padding: 15px;
  }
  header ul {
    float: right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
    color: #f2f2f2;
    font-size: 20px;
  }
  #logo {
    width: 125px;
    height: 100px;
}

.heading {
  text-align: center;
}

.hero {
  background-color: #0C0B1F;
}

.myDesigns {}


/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #EBEBEB;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  "img4 content4"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .img4, .content1, .content2, .content3, .content4 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}


  

  /* My UX Skills Section */
.flexContainer {
    display: flex;
    padding: 60px 30px;
    background-color: #0C0B1F;
    color: white;
    text-align: center;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
    text-align: center;
  }
.footerContainer {
  display: flex;
  padding: 60px 30px;
}
.footerContainerdiv {
  width: 25%;
  padding: 25%;
}
  footer {
    justify-content: center;
    background-color: white;
  }

#design {
  width: 210px;
  height: auto;
}
#video {
  width: 185px;
  height: auto;
}
#web {
  width: 150px;
  height: auto
}
#footerImg {
  width: 500px;
  height: auto
}
#email {
  width: 55px;
  height: 50px;
  margin-bottom: 20px;
}
#phone {
  width: 55px;
  height: 45px;
}
#linkedin {
  width: 125px;
  height: 125px;
  margin-bottom: 20px;
} 
#twitter {
  width: 125px;
  height: 125px;
  margin-bottom: 20px;
}