body {
    margin: 0;
  }
  header {
    background-color: #373738;
    padding: 15px;
  }
  header ul {
    float: right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
    color: #f2f2f2;
    font-size: 20px;
    background-color: #373738;
  }
  #logo {
    width: 125px;
    height: 100px;
}


h2 {
  font-size: 20px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 25px;
}
.heading {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 60px;
}

.hero {
  background-color: #0C0B1F;
  color: #f2f2f2;
}

.btn-primary {
  background-color: goldenrod;
}
button {
  background-color: goldenrod;
  color: white;
}

.myDesigns {
  background-color: #373738;
  padding: 40px 10px;

}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  background-color: #373738;
  color: white;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  "img4 content4"
}

.workGrid img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .img4, .content1, .content2, .content3, .content4 {
  padding: 80px;
  }
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}


  

  /* My UX Skills Section */
.flexContainer {
    display: flex;
    background-color: #0C0B1F;
    color: white;
    text-align: center;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
    text-align: center;
  }
  .mySkills {
    color: white;
    font-weight: bold;
    font-size: 60px;
    padding-left: 625px;
    background-color: #0C0B1F;
    margin: auto;
  }
  #design {
    width: 210px;
    height: auto;
  }
  #video {
    width: 185px;
    height: auto;
  }
  #web {
    width: 150px;
    height: auto
  }
  

  
.footerContainer {
  display: flex;
  justify-content: center;
  background-color: #0C0B1F;
  color: whitesmoke;
  text-align: center;
}

#footerImg {
  width: 350px;
  height: 350px;
}
#linkedin {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
} 
#twitter {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}